.sc-snippet {
    background-color: var(--pf-global--BackgroundColor--light-100);
    margin-top: var(--pf-global--spacer--lg);

    .pf-c-content {
        font-size: var(--pf-global--FontSize--md);
    }

    h3 {
        margin-bottom: 0;
    }
}

.sc-snippet__heading {
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
    font-size: var(--pf-global--FontSize--xl);
    margin-top: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--md);
}

.sc-snippet__content {
    padding: 1rem;
}

.sc-snippet__code {
    background-color: var(--pf-global--BackgroundColor--100);
    font-size: var(--pf-global--FontSize--sm);
    max-height: 37.5rem;
    overflow: auto !important;
    padding: 10px;

    .prettyprint {
        border: none;
    }
}
