.sc-component__buttons .pf-c-button {
    margin-bottom: 6px;
    margin-right: 6px;
}

.sc-snippet {
    background-color: var(--pf-global--BackgroundColor--light-100);
    margin-top: var(--pf-global--spacer--lg);
}

.sc-snippet .pf-c-content {
    font-size: var(--pf-global--FontSize--md);
}

.sc-snippet h3 {
    margin-bottom: 0;
}

.sc-snippet__heading {
    font-size: var(--pf-global--FontSize--xl);
    margin-top: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--md);
}

.sc-snippet__content {
    padding: 1rem;
}

.sc-snippet__copied {
    padding: 10px;
    font-weight: 400
}

.sc-snippet__code {
    background-color: var(--pf-global--BackgroundColor--100);
    font-size: var(--pf-global--FontSize--sm);
    max-height: 37.5rem;
    overflow: auto !important;
    padding: 10px;
}

.sc-snippet__code code {
    background-color: white;
    font-size: 11pt;
}
